.m-menu .dropdown.m-menu-fw .dropdown-menu {
    left: 20%;
    right: 30px;
    width: 20%;
}
.feature_article_content {
    margin-top: 10px;
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.col-md-6.all-articles {
    margin-bottom: 20px;
}
img.media-object.article-image {
    width: 122px;
    height: 122px;
    margin: auto;
}
.header-section .social {
    margin-top: -5px;
    float: right;
}
.footer_section {
    padding: 30px;
    padding-bottom: 0px;
}
.footer_bottom_Section {
    border-top: 2px solid #000;
    padding: 0px;
    padding-top: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
}
img.media-object.comment-image {
    width: 80px;
    height: 80px;
    margin: auto;
}
img.web-logo {
    width: 75%;
}
