{% extends "writer-main-page.html" %}
{% block content %}
 <div class="container-fluid">
   <table class="table table-bordered">
     <thead>
       <th> Articles</th>
       <th>Edit</th>
     </thead>
     <tbody>
       {% for article in articles %}
        <tr>
          <th style="color:black">{{article}}</th>
          <th><a href="/review/{{article.id}}"><span class="glyphicon glyphicon-edit"></span></th>
        </tr>
       {% endfor %}
     </tbody>
   </table>

   <div class="col-lg-12 col-md-12">
     <div class="pagination">
      <span class="step-links">
          {% if articles.has_previous %}
              <a href="?page={{ articles.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
          </span>

          {% if articles.has_next %}
              <a href="?page={{ articles.next_page_number }}">next</a>
          {% endif %}
      </span>
     </div>
   </div>
 </div>
{% endblock %}
