{% extends "writer-main-page.html" %}
{% block content %}
<div class="col-md-6 text-center">
  <form action="/edit-category" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% load bootstrap %}
    <table>
      {{edit_category|bootstrap}}
      <input type="text" value="{{id}}" name="category_id" hidden>
      <input class="btn btn-primary" type="submit" value="Update">
      <a class="btn btn-default" href="/new-category">Back</a>
    </table>
  </form>
</div>
{% endblock %}
