{% extends "base.html" %}
{% block search %}
{% endblock %}
{% block main %}
<div class="container-fluid">
  <div class="col-md-12 text-center">
    <form class="edit-article-form" action="/edit-article" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {% load bootstrap %}
      <table>
        {{newarticle|bootstrap}}
        <input type="text" value="{{articleId}}" name="article_id" hidden>
        <input class="btn btn-success" type="submit">
      </table>
    </form>
    <a class="btn btn-primary" href="/review/{{articleId}}">Back</a>
  </div>
</div>
{% endblock %}
