{% extends "base.html" %}
{% load static %}
{% block search %}
{% endblock %}
{% block main %}
    <div class="container-fluid">
         <form class="login-form" method="post" action="/log-in">
           {% csrf_token %}

           <!-- form group container -->
           <div class="form-group">
               <label for='username'>Username</label>
               <input type='text' placeholder='username' id='username'
                                                     name='username' class='form-control'>
           </div>

           <!-- form group container -->
           <div class="form-group">
               <label for='password' >Password</label>
               <input type='password' placeholder='password' id='password'
                                                      name='password' class='form-control'>
           </div>

           <!-- Error box -->
           <div class="error-box">
               <p class="error-message">{{message}}</p>
           </div>

           <!-- form group container -->
           <div class="form-group">
               <input type='submit' value='Login' class='btn btn-success submit-login'>
           </div>

         </form>
    </div>
{% endblock %}
