{% extends 'base.html' %}
{% load static %}
{% block main %}
<section id="feature_news_section" class="feature_news_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="feature_article_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive top_static_article_img img-thumbnail" src="{{topArticle.title_image.url}}"
                             alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg blue"><a href="category/{{topArticle.category.id}}">{{topArticle.category}}</a></div>
                        <div class="feature_article_title">
                            <h1><a href="article/{{topArticle.link}}" target="_self">{{topArticle.title}} </a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date">
                             <a href="#" target="_self">{{topArticle.writer}}</a>,<a href="#" target="_self">{{topArticle.time}}</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            {{topArticle.body}}
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">424</a>Shares</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">4</a>Comments</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_article_wrapper -->

            </div>
            <!-- col-md-7 -->

            <div class="col-md-5">
                <div class="feature_static_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive img-thumbnail" src="{{topSideArticle.title_image.url}}" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg blue"><a href="category/{{topSideArticle.category.id}}">{{topSideArticle.category}}</a></div>
                        <div class="feature_article_title">
                            <h1><a href="article/{{topSideArticle.link}}" target="_self">{{topSideArticle.title}} </a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date">
                          <a href="#" target="_self">{{topSideArticle.writer}}</a>,
                          <a href="#" target="_self">{{topSideArticle.time}}</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            {{topSideArticle.body}}
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">424</a>Shares</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">4</a>Comments</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_static_wrapper -->

            </div>
            <!-- col-md-5 -->

            <div class="col-md-5">
                <div class="feature_static_last_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive img-thumbnail" src="{{topLastArticle.title_image.url}}" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg blue"><a href="category/{{topLastArticle.category.id}}">{{topLastArticle.category}}</a></div>

                        <div class="feature_article_title">
                            <h1><a href="article/{{topLastArticle.link}}" target="_self">{{topLastArticle.title}}</a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date">
                          <a href="#" target="_self">{{topLastArticle.writer}}</a>,<a href="#" target="_self">{{topLastArticle.time}}</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            {{topLastArticle.body}}
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">424</a>Shares</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">4</a>Comments</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_static_wrapper -->

            </div>
            <!-- col-md-5 -->

        </div>
        <!-- Row -->

    </div>
    <!-- container -->

</section>
<!-- Feature News Section -->

<section id="category_section" class="category_section">
<div class="container">
<div class="row">
<div class="col-md-8">
<div class="category_section mobile">
    <div class="article_title header_blue">
        <h2><a href="category.html" target="_self">News</a></h2>
    </div>
    <!----article_title------>
    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="top_article_img">
                    <a href="single.html" target="_self">
                      <img class="img-responsive img-thumbnail" src="{{secondTopArticle.title_image.url}}" alt="feature-top">
                    </a>
                </div>
                <!----top_article_img------>
            </div>
            <div class="col-md-6">
                <span class="tag blue">{{secondTopArticle.category}}</span>

                <div class="category_article_title">
                    <h2><a href="article/{{secondTopArticle.link}}" target="_self">{{secondTopArticle.title}} </a></h2>
                </div>
                <!----category_article_title------>
                <div class="category_article_date"><a href="#">{{secondTopArticle.time}}</a>, by: <a href="#">{{secondTopArticle.writer}}</a></div>
                <!----category_article_date------>
                <div class="feature_article_content">
                    {{secondTopArticle.body}}
                </div>
                <!----category_article_content------>
                <div class="media_social">
                    <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                </div>
                <!----media_social------>
            </div>
        </div>
    </div>
    <div class="category_article_wrapper">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-6 all-articles">
                    <div class="media">
                        <div class="media-left">
                            <a href="article/{{article.link}}"><img class="media-object article-image img-thumbnail" src="{{article.title_image.url}}"
                                             alt="Generic placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <span class="tag blue">{{article.category}}</span>

                            <h3 class="media-heading"><a href="article/{{article.link}}" target="_self">{{article.title}}</a></h3>
                            <span class="media-date"><a href="#">{{article.time}}</a>,  by: <a href="#">{{article.writer}}</a></span>

                            <div class="media_social">
                                <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Shares</span>
                                <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- first divvv -->
        </div>
    </div>
    <p class="divider"><a href="#">More News&nbsp;&raquo;</a></p>
</div>
<!-- Mobile News Section -->
</div>
<!-- Left Section -->

<div class="col-md-4">
<div class="widget">
    <div class="widget_title widget_black">
        <h2><a href="#">Popular News</a></h2>
    </div>
    {% for article in popularArticles %}
    <div class="media">
        <div class="media-left">
            <a href="#"><img class="media-object article-image img-thumbnail" src={{article.title_image.url}} alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                <a href="article/{{article.link}}" target="_self">{{article.title}}</a>
            </h3> <span class="media-date"><a href="#">{{article.time}}</a>,  by: <a href="#">{{article.writer}}</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="single.html" target="_self"> <i class="fa fa-share-alt"></i>424</a> Shares
                </span>
                <span>
                    <a href="single.html" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
    <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&raquo;</a></p>
</div>
<!-- Popular News -->

<div class="widget hidden-xs m30">
    <img class="img-responsive add_img" src='{% static 'assets/img/right_add7.jpg'%}' alt="add_one">
    <img class="img-responsive add_img" src='{% static 'assets/img/right_add7.jpg'%}' alt="add_one">
    <img class="img-responsive add_img" src='{% static 'assets/img/right_add7.jpg'%}' alt="add_one">
    <img class="img-responsive add_img" src='{% static 'assets/img/right_add7.jpg'%}' alt="add_one">
</div>
<!--Advertisement -->
<!--  Readers Corner News -->
<!--Advertisement-->
</div>
<!-- Right Section -->

</div>
<!-- Row -->

</div>
<!-- Container -->

</section>
<!-- Category News Section -->
{% endblock %}
