{% extends "writer-main-page.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-6">
        <form action="/add-writer" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% load bootstrap %}
          <table>
            {{ writerform|bootstrap }}
            <tr>
              <td>
               <input type="submit" class="btn btn-primary" value="send">
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="col-md-6">
        <div class="fh5co-menu">
          <div class="fh5co-box">
            <h3 class="heading">All Writers</h3>
            <table class="table table-bordered">
              <thead>
                <th>Contributors</th>
                <th>Number of Written articles</th>
              </thead>
              <tbody>
               {% for writer in writers %}
               <tr>
                 <th>{{writer.writer}}</th>
                 <th>{{writer.articles}}</th>
               </tr>
               {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
