{% extends "writer-main-page.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-6">
       <div class="fh5co-menu">
        <div class="fh5co-box">
         <h3 class="heading"> Un Reviewed articles </h3>
         <ul>
            {% for article in unreviewedArticles %}
               <li><a href="/review/{{article.id}}"> {{article}} </a></li>
            {% endfor %}
         </ul>
        </div>
       </div>
     </div>
     <div class="col-md-6">
      <div class="fh5co-menu">
       <div class="fh5co-box">
        <h3 class="heading"> Un Reviewed Comments </h3>
        <!-- Table -->
        <table class="table table-bordered">
          <thead>
            <th>Comments</th>
            <th>Article</th>
            <th>Review</th>
          </thead>
          <tbody>
            {% for comment in unreviewedComments %}
             <tr>
               <th style="color:black">{{comment.comment}}</th>
               <th style="color:black">{{comment.article.title}}</th>
               <th><a href="/commentreview/{{comment.id}}"><span class="glyphicon glyphicon-edit"></span></th>
             </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- End of Table -->
       </div>
      </div>
    </div>
   </div>
{% endblock %}
