{% extends 'base.html' %}
{% block search %}
{% endblock %}
{% block main %}
<div class="container-fluid">
  <div class="row fh5co-post-entry single-entry">
    <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <figure class="animate-box">
        <img class="header-image" src="{{article.title_image.url}}" alt="Image" class="img-thumbnail">
      </figure>
      <h6 class="fh5co-article-title animate-box encode">{{article.title}}</h6>
      <span class="fh5co-meta fh5co-date animate-box">{{article.time}}</span>
      <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
        <div class="row">
          <div class="col-lg-12 cp-r animate-box">
            <cite>&mdash; Writer {{article.writer }}</cite>
            <p class="article-body encode">{{article.body}}</p>
            <p class="article-conclusion encode">{{article.conclusion}}</p>
            <a class="edit-paragraph btn btn-primary" href="/edit-article/{{article.id}}">Edit</a>
            {% for photo in photos %}
               <div class="article-photos">
                 <figure class="animate-box">
                    <img src="{{ photo.image.url}}" alt="Image" class="img-thumbnail article-photo">
                 </figure>
                 <p class="encode">{{ photo.image_description }}</p>
                 <a class="edit-paragraph btn btn-primary" href="/edit-article-photos/{{photo.id}}">Edit</a>
               </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-danger delete" value="{{article.id}}"> Delete</button>
        {% if article.reviewed == False %}
        <button class="btn btn-success review" value="{{article.id}}">Review</button>
        {% else %}
        <button class="btn btn-success fb-page-share">Post on Facebook page</button>
        {% endif %}
      </div>
    </article>
  </div>
</div>

<!-- posting to a facebook page -->
<script>
var p = {
    method: 'feed',
    to: 1641051349519223,
    name={{article.title}},
    picture= http://www.campus250.com/{{article.title_image.url}},
    link: http://www.campus250.com/article/{{article.id}}
};
FB.ui(p);
</script>
{% endblock %}
