{% extends 'base.html' %}
{% block title %}
<!--

    <meta property="og:title" content="{{article.title}}" />
    <meta property="og:description" content="{{article.body}}" />
    <meta property="og:image" content="{{article.title_image.url}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
{% endblock %}
{% block main %}
{% load static %}
<!--
<div class="container-fluid">
  <div class="row fh5co-post-entry single-entry">
    <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <figure class="animate-box">
        <img class="header-image img-thumbnail" src="{{article.title_image.url}}" alt="Image">
      </figure>
      <h6 class="fh5co-article-title animate-box encode">{{article.title}}</h6>
      <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
        <div class="row">
          <div class="col-lg-12 cp-r animate-box">
              <cite><i class="fa fa-user"></i> {{article.writer.user.username }},   <i class="fa fa-calendar"></i> {{article.time.time}}
              <a href="#" class="fa-category"><i class="fa fa-tags"></i>{{article.category}}</a></cite>
              <p class="article-body encode article-text">{{article.body}}</p>
              <p class="article-conclusion encode article-text">{{article.conclusion}}</p>
              {% for photo in photos %}
                 <div class="article-photos">
                   <figure class="animate-box">
                      <img src="{{ photo.image.url}}" alt="Image" class="img-thumbnail article-photo">
                   </figure>
                   <p class="encode article-text">{{ photo.image_description }}</p>
                 </div>
              {% endfor %}
              <div class="social-share">
                   <a class="btn btn-primary whatsapp-share" href="whatsapp://send?text={{article.title}} - https://www.campus250.com/article/{{article.link}}" data-action="share/whatsapp/share">
                       <span class="fa fa-whatsapp" style="font-size:24px;"></span>
                   </a>
                   <a class="btn btn-primary facebook-share" href="https://www.facebook.com/dialog/feed?app_id=1128072777285328&display=popup&link=https://www.campus250.com/article/{{article.link}}&redirect_uri=https://www.campus250.com&name={{article.title}}&picture=http://www.campus250.com/{{article.title_image.url}}">
                     <span class="fa fa-facebook" style="font-size:24px;"></span>
                   </a>
              </div>
          </div>
          <img src="{{article.writer.profile.url}}" alt="Image" class="img-responsive circular writer-photo">
          <p class="writer-bio text-center">{{article.writer.user.username}} is {{article.writer.bio}}</p>



          <div class="comments">
            <div class="reviewed-comments">
                {% if iscomments == False %}
                    <cite class="text-center"><i>Be the first to comment on this!!</i> </cite>
                {% else %}
                    <cite class="text-center"><i>Comments</i> </cite>
                    {% for comment in comments %}
                       <p class="user-comment">{{comment.comment}}</p>
                       <cite class="text-center commenter">{{comment.name}} {{comment.time}}</cite>
                    {% endfor %}
                {% endif %}
            </div>
            <cite class="text-center"><b>Send a Comment</b> </cite>
            <div class="comment-form">
              <form id="commentform">
                {% csrf_token %}
                <input type="number" id='articleId' name="article-id" value="{{article.id}}" hidden>
                <input type='text' placeholder='Names' id='commentName' name='names' class='form-control' required>
                <br>
                <input type='text' placeholder='Email' id='commentEmail' name='email' class='form-control' required>
                <br>
                <textarea placeholder='Message' id='commentMessage' name='message' class='form-control' required></textarea>
                <br>
                <input type="button" class="btn btn-primary" id="sendComment" value="Submit">
              </form>

           </div>
         </div>

        </div>

        <div class="ads">
          <a href="#"><img class="ads-campus" src="/uploaded/media/corelabsplus.jpg" alt="Image"></a>
        </div>

      </div>
      <cite class="text-center"><i>Other Articles</i> </cite>
        <div class="other-articles">
          <div class="container related-article">
            <div class="row related-article-row">
            {% for post in related %}
                <div class="relatedArticle col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xxs-6">

                  <div class="row">
                    <div class="col-md-6">
                      <figure class="">
                         <a href="/article/{{post.id}}"><img src="{{ post.title_image.url}}" alt="Image" class="img-thumbnail title-photo"></a>
                      </figure>
                    </div>
                    <div class="col-md-6">
                      <p class="encode relatedArticleTitile"><b>{{post.title}}</b></p>
                      <span class="fh5co-meta"><a href="/article/{{post.id}}">{{post.category}}</a></span>
                    </div>
                  </div>
                 </div>
           {% endfor %}
          </div>
         </div>
        </div>
        <div class="web-categories container">
          <cite class="web-categories-title"><i>CATEGORIES</i></cite>
          <ul>
            <li class="web-category"><a class="" href="/">Home</a></li>
            {% for category in categories %}
              <li class="web-category"><a class="" href="/category/{{category.id}}">{{category}}</a></li>
            {% endfor %}
          </ul>
        </div>
    </article>
  </div>
</div>-->

<section id="entity_section" class="entity_section">
<div class="container">
<div class="row">
<div class="col-md-8">
<div class="entity_wrapper">
    <div class="entity_title">
        <h1><a href="#">{{article.title}}</a></h1>
    </div>
    <!-- entity_title -->

    <div class="entity_meta"><a href="#" target="_self">{{article.time}}</a>, by: <a href="#" target="_self">{{article.writer}}</a>
    </div>
    <!-- entity_meta -->

    <div class="entity_rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-full"></i>
    </div>
    <!-- entity_rating -->

    <div class="entity_social">
        <a href="#" class="icons-sm sh-ic">
            <i class="fa fa-share-alt"></i>
            <b>424</b> <span class="share_ic">Shares</span>
        </a>
        <a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
        <!--Twitter-->
        <a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
        <a href= href="whatsapp://send?text={{article.title}} - https://www.taprwanda.pythonanywhere.com/article/{{article.link}}" 
                       data-action="share/whatsapp/share" class="icons-sm tw-ic">
                       <i class="fa fa-whatsapp" style="background-color:green;"></i></a>
        <!--Google +-->
        <a href="#" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
        <!--Linkedin-->
        <a href="#" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
        <!--Pinterest-->
        <a href="#" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
    </div>
    <!-- entity_social -->

    <div class="entity_thumb">
        <img class="img-responsive img-thumbnail" src="{{article.title_image.url}}" alt="feature-top">
    </div>
    <!-- entity_thumb -->

    <div class="entity_content">
        <p>
          {{article.body}}
        </p>

        <!--<blockquote class="pull-left">The science of today is the technology of tomorrow.
        </blockquote>-->
        <p>
          {{article.conclusion}}
        </p>
    </div>
</div>
<!-- entity_wrapper -->

<div class="related_news">
    <div class="entity_inner__title header_blue">
        <h2><a href="#">Related News</a></h2>
    </div>
    <!-- entity_title -->

    <div class="row">
      {% for relatedArticle in related %}
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <a href="{{relatedArticle.link}}"><img class="media-object article-image img-thumbnail" src="{{relatedArticle.title_image.url}}"
                                     alt="Generic placeholder image"></a>
                </div>
                <div class="media-body">
                    <span class="tag blue"><a href="/category/{{relatedArticle.category.id}}" target="_self">{{relatedArticle.category}}</a></span>

                    <h3 class="media-heading"><a href="{{relatedArticle.link}}" target="_self">{{relatedArticle.title}}</a></h3>
                    <span class="media-date"><a href="#">{{relatedArticle.time}}</a>,  by: <a href="#">{{relatedArticle.write}}</a></span>

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Shares</span>
                        <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Related news -->
{% if iscomments == False %}
    <!-- Find Something to print here -->
{% else %}
<div class="readers_comment">
    <div class="entity_inner__title header_blue">
        <h2>Readers Comment</h2>
    </div>
    <!-- entity_title -->
    <!-- media end -->
    {% for comment in comments %}
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img alt="64x64" class="media-object comment-image img-thumbnail"
                 data-src='{% static 'logo/couple-icon.png'%}'
                      src='{% static 'logo/couple-icon.png'%}'
                      data-holder-rendered="true">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading"><a href="#">{{comment.name}}</a></h2>
            {{comment.comment}}
            <div class="entity_vote">
                <a href="#" target="_self">{{comment.time}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- media end -->
</div>
{% endif %}
<!--Readers Comment-->

<div class="entity_comments">
    <div class="entity_inner__title header_black">
        <h2>Add a Comment</h2>
    </div>
    <!--Entity Title -->

    <div class="entity_comment_from">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group comment">
                <textarea class="form-control" id="inputComment" placeholder="Comment"></textarea>
            </div>

            <button type="submit" class="btn btn-submit blue">Submit</button>
        </form>
    </div>
    <!--Entity Comments From -->

</div>
<!--Entity Comments -->

</div>
<!--Left Section-->

<div class="col-md-4">
<div class="widget">
    <div class="widget_title widget_black">
        <h2><a href="#">Popular News</a></h2>
    </div>
    {% for article in popularArticles %}
    <div class="media">
        <div class="media-left">
            <a href="{{article.link}}"><img class="media-object article-image img-thumbnail" src={{article.title_image.url}} alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                <a href="{{article.link}}" target="_self">{{article.title}}</a>
            </h3> <span class="media-date"><a href="#">{{article.time}}</a>,  by: <a href="#">{{article.writer}}</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="single.html" target="_self"> <i class="fa fa-share-alt"></i>424</a> Shares
                </span>
                <span>
                    <a href="single.html" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>
    {% endfor %}

    <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&raquo;</a></p>
</div>
<!-- Popular News -->

<div class="widget hidden-xs m30">
    <img class="img-responsive adv_img" src='{% static 'assets/img/right_add1.jpg'%}' alt="add_one">
    <img class="img-responsive adv_img" src='{% static 'assets/img/right_add2.jpg'%}' alt="add_one">
    <img class="img-responsive adv_img" src='{% static 'assets/img/right_add3.jpg'%}' alt="add_one">
    <img class="img-responsive adv_img" src='{% static 'assets/img/right_add4.jpg'%}' alt="add_one">
</div>
<!-- Advertisement -->

<div class="widget hidden-xs m30">
    <img class="img-responsive widget_img" src='{% static 'assets/img/right_add5.jpg'%}' alt="add_one">
</div>
<!-- Advertisement -->
<div class="widget hidden-xs m30">
    <img class="img-responsive widget_img" src='{% static 'assets/img/right_add6.jpg'%}' alt="add_one">
</div>
<!-- Advertisement -->

<div class="widget hidden-xs m30">
    <img class="img-responsive add_img" src='{% static 'assets/img/right_add7.jpg' %}' alt="add_one">
    <img class="img-responsive add_img" src='{% static 'assets/img/right_add7.jpg' %}' alt="add_one">
    <img class="img-responsive add_img" src='{% static 'assets/img/right_add7.jpg' %}' alt="add_one">
    <img class="img-responsive add_img" src='{% static 'assets/img/right_add7.jpg' %}' alt="add_one">
</div>
<!--Advertisement -->

</div>
<!--Right Section-->

</div>
<!-- row -->

</div>
<!-- container -->

</section>

{% endblock %}
